@model GeekTime.Models.Contact
@{
    ViewBag.Title = "Добавление контакта";
}

<form asp-action="createContact" asp-controller="Contact">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TelNumber" class="control-label">Номер телефона</label>
        <input type="text" asp-for="TelNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mail" class="control-label"> Электронная почта </label>
        <input type="text" asp-for="Mail" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Post" class="control-label">Должность</label>
        <input type="text" asp-for="Post" class="form-control" />
    </div>


    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>

