@model IList<GeekTime.Models.Admin>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
</head>
<body>
    <h1>Админы гиктайма:</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Ивент</th>
            <th>Фотка</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Events</td>
                    <td>@item.Image</td>
                </tr>
            }
        }
    </table>
    <a asp-area="" asp-controller="Admin" asp-action="CreateAdmin">Добавить админа</a>
    <a asp-area="" asp-controller="Admin" asp-action="DeleteAdmin">Удалить админа</a>
</body>
</html>

