<!--
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAdmin</title>
</head>
<body>
    <h4>Добавление админа</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            {
                <label>Имя:</label><br />
                <input type="text" name="Name" /><br /><br />
                <label>Его ивент:</label><br />
                <input type="text" name="Events" /><br /><br />
                <label>Как он выглядит:</label><br />
                <input type="text" name="Image" /><br /><br />
                /*<div>
                    <input type="file" id="file-uploader">
                    <p id="feedback"></p>
                </div>*/
                <input type="submit" value="Добавить этого админа" />
            }
        </div>
    </div>
</body>
</html>
    -->

@model GeekTime.Models.Admin
@{
    ViewBag.Title = "Добавление админа";
}
<form asp-action="createadmin" asp-controller="admin">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Events" class="control-label">Ивенты</label>
        <input type="text" asp-for="Events" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label">Картинка</label>
        <input type="file" asp-for="Image" class="form-control" id="file-uploader"/>
        <p id="feedback"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>