<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Underdog&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeekTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background: #fffdd0;
            padding: 150px;
        }

        #menu__toggle {
            opacity: 0;
        }

            #menu__toggle:checked ~ .menu__btn > span {
                transform: rotate(45deg);
            }

                #menu__toggle:checked ~ .menu__btn > span::before {
                    top: 0;
                    transform: rotate(0);
                }

                #menu__toggle:checked ~ .menu__btn > span::after {
                    top: 0;
                    transform: rotate(90deg);
                }

            #menu__toggle:checked ~ .menu__box {
                visibility: visible;
                left: 0;
            }

        .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            left: 20px;
            width: 50px;
            height: 10%;
            cursor: pointer;
            z-index: 2;
        }

            .menu__btn > span,
            .menu__btn > span::before,
            .menu__btn > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #ffffff;
                transition-duration: .25s;
            }

                .menu__btn > span::before {
                    content: '';
                    top: -8px;
                }

                .menu__btn > span::after {
                    content: '';
                    top: 8px;
                }

        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            overflow: auto;
            top: 0;
            left: -100%;
            z-index: 1;
            width: 20%;
            height: 100%;
            margin: 0;
            padding: 150px 0;
            list-style: none;
            background-color: #ffb400;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            transition-duration: .25s;
        }

        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #fffdd0;
            text-align: center;
            font-family: 'Underdog', cursive;
            font-size: 3vh;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
        }

            .menu__item:hover {
                background-color: #ff4f00;
            }

        header {
            top: 0;
            left: 0;
            text-align: center;
            vertical-align: middle;
            font-size: 110px;
            font-family: 'Underdog', cursive;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
            position: fixed;
            z-index: 1;
            width: 100%;
            height: 150px;
            background-color: #ffb400;
        }

        footer {
            padding: 20px 0px;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
            background-color: #ff4f00;
            width: 100%;
            height: 415px;
        }

        p {
            text-align: center;
            font-size: 30px;
            font-family: 'Underdog', cursive;
            line-height: 100%;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }

        img {
            border-radius: 25px;
            max-width: 100%;
            height: auto;
        }

        .hr1-dashed {
            padding: 0;
            height: 0;
            border: none;
            border-top: 5px dashed #ff4f00;
        }

        .mirror {
            transform: scale(-1, 1);
        }

        .social-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            margin: 15px;
        }

            .social-icons a {
                background: #ffb400;
                color: #ffffff;
                display: inline-block;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                position: relative;
                margin: 5px;
                text-align: center;
                font-size: 35px;
                text-decoration: none;
                transition: 0.5s;
            }

                .social-icons a i {
                    z-index: 2;
                    position: relative;
                    line-height: 60px;
                }

                .social-icons a:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border-radius: 100%;
                    width: 0;
                    height: 0;
                    transition: 0.3s;
                    top: 0;
                    left: 50%;
                }

                .social-icons a:hover:after {
                    width: 60px;
                    height: 60px;
                    margin-left: -30px;
                }

        .social-icon-vk:after,
        .social-icon-vk:hover:after {
            background: #45668e;
        }

        .social-icon-tg:after,
        .social-icon-tg:hover:after {
            background: #2ca5e0;
        }

        .social-icon-fb:after,
        .social-icon-fb:hover:after {
            background: #3b5998;
        }

        .social-icon-ig:after,
        .social-icon-ig:hover:after {
            background: #e1306c;
        }

        .social-icon-yt:after,
        .social-icon-yt:hover:after {
            background: #bb0000;
        }
    </style>
</head>
<body>
    <header class="header">
        <a asp-area="" asp-controller="Home" asp-action="Index">GeekTime</a>
    </header>

    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Events">Мероприятия</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Rooms">Интерьер</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Price">Тарифы</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Games">Каталог игр</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Comics">Каталог комиксов</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="Admins">Наша команда</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" asp-area="" asp-controller="Home" asp-action="For_admins">Для админов</a></li>
            <hr class="hr1-dashed">
        </ul>
    </div>
    <div class="content-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <img src="/css/pics/footcat.png" align=left width="25%" height="100%">
        <img src="/css/pics/footcat.png" align=right width="25%" height="100%" class="mirror">
        <p>GeekTime</p>
        <p>Время работы: пн-вс, круглосуточно</p>
        <p>Москва, Новослободская ул., 36/1</p>
        <p>+7 (499) 286-90-45</p>

        <div>
            <div style="text-align:center;"><p>Следите за нами в соцсетях!</p></div>
            <ul class="social-icons">
                <li><a class="social-icon-vk" href="https://vk.com/geek.time" title="GeekTime в ВКонтакте!" target="_blank" rel="noopener"><i class="fa fa-vk"></i></a></li>
                <li><a class="social-icon-tg" href="https://t.me/geektimeinfo" title="GeekTime в Telegram!" target="_blank" rel="noopener"><i class="fa fa-telegram"></i></a></li>
                <li><a class="social-icon-fb" href="https://www.facebook.com/g33kt1m3/" title="GeekTime в Facebook!" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
                <li><a class="social-icon-ig" href="https://www.instagram.com/geek_time_point/" title="GeekTime в Instagram!" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
                <li><a class="social-icon-yt" href="https://www.youtube.com/channel/UCwUI1zw3k-gTPjNMvqaupuA" title="GeekTime на Youtube!" target="_blank" rel="noopener"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>