<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeekTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <nav class="sidebar">
                <div class="text d-flex p-2">
                    <div id="nav-icon3" class="pushmenu opened">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="menu-main-menu-container">
                    <ul class="topmenu">
                        <li><a href="">интерьер</a></li>
                        <li><a href="">наша команда</a></li>
                        <li><a href="">мероприятия</a></li>
                        <li><a href="">игры</a></li>
                        <li><a href="">комиксы</a></li>
                        <li><a href="">тарифы</a></li>
                        <li><a href="">на главную</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hidden-overley"></div>
            <h1><p align="center">АНТИКАФЕ GEEKTIME</p></h1>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GeekTime - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
