@model GeekTime.Models.Post
@{
    ViewBag.Title = "Добавление поста";
}

<form asp-action="createpost" asp-controller="post">
    <div class="form-group">
        <label asp-for="Vk_link" class="control-label">Ссылка на вк</label>
        <input type="text" asp-for="Vk_link" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label">Картинка</label>
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Describtion" class="control-label">Описание</label>
        <input type="text" asp-for="Describtion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AdminID" class="control-label">ID Админа</label>
        <input type="text" asp-for="AdminID" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
</html>