@model IList<GeekTime.Models.Comic>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComicPage</title>
</head>
<body>
    <h1>Комиксы:</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Жанр</th>
            <th>ID комнаты</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Genre</td>
                    <td>@item.RoomID</td>

                </tr>
            }
        }
    </table>
    <a style="color:#ff0000" asp-area="" asp-controller="Comic" asp-action="CreateComic">Добавить комикс</a>
    <a style="color:#ff0000" asp-area="" asp-controller="Comic" asp-action="DeleteComic">Удалить комикс</a>
</body>
</html>
