
<script src="/js/site.js"></script>

<!DOCTYPE HTML>
<html>
<head>
    <title>ИНТЕРЬЕР</title>
</head>
<h2>карта GT:</h2>
<body>
    <a asp-area="" asp-controller="Home" asp-action="AdminPage">zzz</a>
</body>
</html>
