<!--Админы-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		
		<title>Антикафе GeekTime | Наша команда</title>

		<link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">
	</head>

	<body>

		<hr class="hr-dashed">
		<h4>Наша команда</h4>
		<hr class="hr-dashed">
				
	</body>
</html>