<!--Админы-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		
		<title>Антикафе GeekTime | Наша команда</title>

		<link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">
	</head>

	<body>

		<hr class="hr-dashed">
		<h4>Наша команда</h4>
		<hr class="hr-dashed">
		
        <div class="admin_table">
            <div class="admin_card">
                <div class="admin_desc">
                    <div class="admin_image">
                        <img src="admin.jpg">
                    </div>
                    <div class="admin_name"> NAME </div>
                    <div class="admin_event"><a href="events"><font color="#ff4f00">EVENT1</font></a></div>
                    <div class="admin_event"><a href="events"><font color="#ff4f00">EVENT1</font></a></div>
                    <div class="admin_event"><a href="events"><font color="#ff4f00">EVENT3</font></a></div>
                </div>
            </div>



        </div>
</body>
</html>