@using GeekTime.Models
@using GeekTime.Manager
@model IEnumerable<Admin>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
</head>
<body>
    <h1>Админы гиктайма:</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Имя</th>
            <th>Ивент</th>
            <th>Фотка</th>
        </tr>
        @{
            foreach (var item in AdminList.admin)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Events</td>
                    <td>@item.Image</td>
                </tr>
            }
        }
    </table>
    @using (Html.BeginForm("CreateComics", "Home"))
    {
        <div>
            <input type="submit" value="Добавить комикс" />
        </div>
    }
</body>
</html>

