<!--Комиксы-->
@{
    ViewData["Title"] = "Комиксы";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Антикафе GeekTime | Каталог комиксов</title>

    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

</head>

<body>

    <hr class="hr-dashed">
    <h4>Каталог комиксов</h4>
    <hr class="hr-dashed">

</body>
</html>

