@{
    ViewData["Title"] = "Комиксы";
}

<script src="/js/site.js"></script>

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">

        <title>Антикафе GeekTime | Библиотека</title>

        <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="../../css/site.css">

        <!--скрипты для пролистывания-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <!--пролистывание наверх-->
        <script type="text/javascript">
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() != 0) {
                        $('#toTop').fadeIn();
                    }
                    else {
                        $('#toTop').fadeOut();
                    }
                });
                $('#toTop').click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 800);
                });
            });
        </script>
        <!--пролистывание до якоря-->
        <script>
            $(document).ready(function () {
                $('a[href^="#"], *[data-href^="#"]').on('click', function (e) {
                    e.preventDefault();
                    var t = 800;
                    var d = $(this).attr('data-href') ? $(this).attr('data-href') : $(this).attr('href');
                    $('html,body').stop().animate({ scrollTop: $(d).offset().top - 120 }, t);
                });
            });
        </script>

    </head>

    <body>
        <div class="backimg">
            <img src="/css/pics/fon.jpg" align=center width="100%" height="100%">
            <div class="title">Библиотека</div>
        </div>

        <table>
            <tr style="height:50%">
                <td style="width:25%"><h1><a href="#comics"><font color="#ff4f00">КОМИКСЫ</font></a></h1></td>
                <td style="width:25%"><h1><a href="#manga"><font color="#ff4f00">МАНГА</font></a></h1></td>
                <td style="width:25%"><h1><a href="#artbook"><font color="#ff4f00">АРТБУКИ</font></a></h1></td>
                <td style="width:25%"><h1><a href="#books"><font color="#ff4f00">КНИГИ</font></a></h1></td>
            </tr>
        </table>

        <div class="backimg">
            <img id="comics" src="/css/pics/sep_comics.jpg" align=center width="100%" height="100%">
            <div class="liltitle">КОМИКСЫ</div>
        </div>

        <table>
            <tr style="height:50%">
                <td style="width:16%"><h1><a href="#marvel"><font color="#e23636"> MARVEL </font></a></h1></td>
                <td style="width:16%"><h1><a href="#dc"><font color="#0077f6"> DC COMICS </font></a></h1></td>
                <td style="width:16%"><h1><a href="#bubble"><font color="#5387c6"> BUBBLE </font></a></h1></td>
                <td style="width:18%"><h1><a href="#dh"><font color="#757575"> DARK HORSE </font></a></h1></td>
                <td style="width:18%"><h1><a href="#vertigo"><font color="#cc1c1f"> DC VERTIGO </font></a></h1></td>
                <td style="width:16%"><h1><a href="#other"><font color="#3caa3c"> ДРУГИЕ </font></a></h1></td>
            </tr>
        </table>

        <h4 id="marvel"><font color="#e23636">MARVEL</font></h4>

        <div class="game_comics_admin_table">
            <!--карточка комикса-->
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
            <!--сюда добавлять карточки-->
        </div>

        <hr class="hr-dashed">

        <h4 id="dc"><font color="#0077f6"> DC COMICS </font></h4>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <h4 id="bubble"><font color="#5387c6"> BUBBLE </font></h4>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <h4 id="dh"><font color="#757575"> DARK HORSE </font></h4>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <h4 id="vertigo"><font color="#cc1c1f"> DC VERTIGO </font></h4>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <h4 id="other"><font color="#3caa3c"> ДРУГИЕ </font></h4>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <div class="backimg">
            <img id="manga" src="/css/pics/sep_manga.jpg" align=center width="100%" height="100%">
            <div class="liltitle">МАНГА</div>
        </div>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <div class="backimg">
            <img id="artbook" src="/css/pics/sep_artbook.jpg" align=center width="100%" height="100%">
            <div class="liltitle">АРТБУКИ</div>
        </div>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <div class="backimg">
            <img id="books" src="/css/pics/sep_book.jpg" align=center width="100%" height="100%">
            <div class="liltitle">КНИГИ</div>
        </div>

        <div class="game_comics_admin_table">
            <div class="game_comics_admin_card">
                <div class="game_comics_admin_desc">
                    <div class="game_comics_admin_image">
                        <img src="/comics.jpg">
                    </div>
                    <div class="game_comics_admin_name">NAME</div>
                    <div class="book_author">AUTHOR</div>
                    <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
                </div>
            </div>
        </div>

        <hr class="hr-dashed">

        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
    </body>
</html>

