<!--Мероприятия-->
@{
    ViewData["Title"] = "Мероприятия";
}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">

	<title>Антикафе GeekTime | Мероприятия</title>

	<link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

</head>

<body>

	<hr class="hr-dashed">
	<h4>Мероприятия</h4>
	<hr class="hr-dashed">


	<footer>
		<hr width="100%" size="5" color=ff4f00 align=center>
		<img src="pics/footcat1.png" align=left width="200px" height="200px">
		<img src="pics/footcat2.png" align=right width="200px" height="200px">
		<p>GeekTime</p>
		<p>Время работы: пн-вс, круглосуточно</p>
		<p>Москва, Новослободская ул., 36/1</p>
		<p>+7 (499) 286-90-45</p>
	</footer>

</body>
</html>

