<!--Мероприятия-->
@{
    ViewData["Title"] = "Мероприятия";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">

    <title>Антикафе GeekTime | Мероприятия</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/site.css">

    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

    <style>

        .backimg {
            position: relative;
        }

        img {
            border-radius: 25px;
            max-width: 100%;
            height: auto;
        }

        p {
            text-align: center;
            font-size: 30px;
            font-family: 'Underdog', cursive;
            line-height: 100%;
        }

        h2 {
            text-align: center;
            font-size: 60px;
            font-family: 'Underdog', cursive;
            line-height: 90%;
            position: relative;
        }

            h2::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ffb40080;
                border-radius: 25px;
                z-index: -1;
            }

        .title {
            display: inline-block;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 15%;
            text-align: center;
            font-size: 8vw;
            font-family: 'Underdog', cursive;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
        }

        table {
            width: 100%;
            height: 200%;
            border-collapse: collapse;
            color: #000000;
        }

        tr {
            height: 600px;
        }

        td {
            text-align: center;
            vertical-align: middle;
            width: 50%;
        }

        .event_admin p {
            text-align: center;
            font-size: 50px;
            font-family: 'Underdog', cursive;
            line-height: 90%;
            position: relative;
            color: #ff4f00;
        }

        .event_table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 10px 20px;
        }

        .hr-dashed {
            padding: 0;
            height: 0;
            border: none;
            border-top: 5px dashed #ffb400;
            clear: left;
        }
    </style>
</head>

<body>

    <div class="backimg">
        <img src="/css/pics/fon.jpg" width="100%" height="100%">
        <div class="title">Мероприятия</div>
    </div>

    <table class="event_table">
        <!--карточка мероприятия (строка таблицы)-->
        <tr style="height:50vh">
            <td style="width:30%"><img src="/event" align=left width="100%" height="100%"></td>

            <td style="width:70%">
                <h2>NAME</h2>
                <p>DESCRIPTION</p>
                <p>DESCRIPTION</p>
                <p>DESCRIPTION</p>

                <div class="event_admin">
                    <p>ADMIN</p>
                </div>
            </td>
        </tr>

        <!--карточка мероприятия (строка таблицы)-->
        <tr style="height:50vh">
            <td style="width:30%"><img src="/event" align=left width="100%" height="100%"></td>

            <td style="width:70%">
                <h2>NAME</h2>
                <p>DESCRIPTION</p>
                <p>DESCRIPTION</p>
                <p>DESCRIPTION</p>

                <div class="event_admin">
                    <p>ADMIN</p>
                </div>
            </td>
        </tr>

        <!--добавлять мероприятие сюда-->
    </table>

    <hr class="hr-dashed">

</body>
</html>

