<!--Мероприятия-->
@{
    ViewData["Title"] = "Мероприятия";
}

<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">

	<title>Антикафе GeekTime | Мероприятия</title>

	<link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

</head>

<body>

	<hr class="hr-dashed">
	<h4>Мероприятия</h4>
	<hr class="hr-dashed">

</body>
</html>

