@{
    ViewData["Title"] = "Игры";
}
<!--каталог игр-->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--скрипты для пролистывания-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--пролистывание наверх-->
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                }
                else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>
    <!--пролистывание до якоря-->
    <script>
        $(document).ready(function () {
            $('a[href^="#"], *[data-href^="#"]').on('click', function (e) {
                e.preventDefault();
                var t = 800;
                var d = $(this).attr('data-href') ? $(this).attr('data-href') : $(this).attr('href');
                $('html,body').stop().animate({ scrollTop: $(d).offset().top - 120 }, t);
            });
        });
    </script>

    <title>Антикафе GeekTime | Каталог игр</title>
    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

    <style>

        .backimg {
            position: relative;
        }

        img {
            border-radius: 25px;
            max-width: 100%;
            height: auto;
        }

        .title {
            display: inline-block;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 15%;
            text-align: center;
            font-size: 8vw;
            font-family: 'Underdog', cursive;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
        }

        .liltitle {
            display: inline-block;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 15%;
            text-align: center;
            font-size: 7vw;
            font-family: 'Underdog', cursive;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
            background-color: #00000060;
        }

        .hr-dashed {
            padding: 0;
            height: 0;
            border: none;
            border-top: 5px dashed #ffb400;
            clear: left;
        }

        table {
            width: 100%;
            height: 200%;
            border-collapse: collapse;
            color: #000000;
        }

        tr {
            height: 600px;
        }

        td {
            text-align: center;
            vertical-align: middle;
            width: 50%;
        }

        h1 {
            text-align: center;
            font-size: 40px;
            font-family: 'Underdog', cursive;
            line-height: 190%;
            position: relative;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }

        .game_comics_admin_table {
            display: block;
            position: relative;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 6%;
            width: 100%;
        }

        .game_comics_admin_card {
            display: block;
            border: 3px solid #ff4f00;
            border-radius: 10px;
            position: relative;
            float: left;
            margin: 10px;
            height: 60vh;
        }

        .game_comics_admin_desc {
            position: relative;
            padding: 20px;
        }

        .game_comics_admin_name {
            text-align: center;
            font-size: 60px;
            font-family: 'Underdog', cursive;
            line-height: 120%;
            position: relative;
        }

        .game_comics_admin_image {
            position: relative;
            height: 35vh;
        }

            .game_comics_admin_image img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }

        .game_comics_room {
            text-align: center;
            font-size: 15px;
            font-family: 'Underdog', cursive;
            line-height: 120%;
            position: relative;
            color: #ff4f00;
        }
    </style>
</head>

<body>
    <div class="backimg">
        <img src="/css/pics/fon.jpg" align=center width="100%" height="100%">
        <div class="title">Игротека</div>
    </div>

    <table>
        <tr style="height:50%">
            <td><h1><a href="#board"><font color="#ff4f00">НАСТОЛЬНЫЕ ИГРЫ</font></a></h1></td>
            <td><h1><a href="#console"><font color="#ff4f00">КОНСОЛЬНЫЕ ИГРЫ</font></a></h1></td>
        </tr>
    </table>

    <div class="backimg">
        <img id="board" src="/css/pics/sep_board.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Настольные игры</div>
    </div>

    <div class="game_comics_admin_table">
        <!--карточка игры-->
        <div class="game_comics_admin_card">
            <div class="game_comics_admin_desc">
                <div class="game_comics_admin_image">
                    <img src="/game.jpg">
                </div>
                <div class="game_comics_admin_name">NAME</div>
                <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
            </div>
        </div>

        <!--сюда добавляем еще карточки-->
    </div>

    <hr class="hr-dashed">

    <div class="backimg">
        <img id="console" src="/css/pics/sep_console.png" align=center width="100%" height="100%">
        <div class="liltitle">Консольные игры</div>
    </div>

    <table>
        <tr style="height:50%">
            <td><h1><a href="#xbox"><font color="#0f7b0e"> XBOX </font></a></h1></td>
            <td><h1><a href="#ps"><font color="#084595"> PLAYSTATION </font></a></h1></td>
        </tr>
    </table>

    <h4 id="xbox"><font color="#0f7b0e"> XBOX </font></h4>

    <div class="game_comics_admin_table">
        <!--карточка игры-->
        <div class="game_comics_admin_card">
            <div class="game_comics_admin_desc">
                <div class="game_comics_admin_image">
                    <img src="/game.jpg">
                </div>
                <div class="game_comics_admin_name">NAME</div>
                <div class="game_type">Номер приставки (пс3/пс4/etc)</div>
                <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
            </div>
        </div>

        <!--сюда добавляем еще карточки-->
    </div>

    <hr class="hr-dashed">

    <h4 id="ps"><font color="#084595"> PLAYSTATION </font></h4>

    <div class="game_comics_admin_table">
        <!--карточка игры-->
        <div class="game_comics_admin_card">
            <div class="game_comics_admin_desc">
                <div class="game_comics_admin_image">
                    <img src="/game.jpg">
                </div>
                <div class="game_comics_admin_name">NAME</div>
                <div class="game_type">Номер приставки (пс3/пс4/etc)</div>
                <div class="game_comics_room"><a href="room"><font color="#ff4f00">ROOM</font></a></div>
            </div>
        </div>

        <!--сюда добавляем еще карточки-->
    </div>

    <hr class="hr-dashed">

    <div id="toTop">
        <i class="fa fa-chevron-up"></i>
    </div>
</body>
</html>
