<!--Игры-->
@{
    ViewData["Title"] = "Игры";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Антикафе GeekTime | Каталог игр</title>

    <link rel="icon" href="pics/icocat.png" type="image/x-icon">
</head>

<body>

    <hr class="hr-dashed">
    <h4>Каталог игр</h4>
    <hr class="hr-dashed">

</body>
</html>

