@{
    ViewData["Title"] = "Главная страница";
}

<script src="/js/site.js"></script>

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">

    <title>Антикафе GeekTime</title>

    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/site.css">

</head>

<body>

    <div class="backimg">
        <hr class="hr-dashed">
        <img src="/css/pics/theme.jpg" align=center width="100%" height="100%">
        <hr class="hr-dashed">
        <div class="main-text">Антикафе GeekTime<br>24/7</div>
    </div>

    <table>
        <tr>
            <td><img src="/css/pics/work.jpg" align=center width="100%" height="100%"></td>
            <td>
                <h2>GeekTime для работы</h2>
                <p>Скоростной Wi-Fi</p>
                <p>Розетки и зарядные устройства</p>
                <p>Проектор и принтер</p>
                <p>Магнитные доски</p>
                <p>Комната для переговоров</p>
                <p>Кофе-брейк</p>
                <p>Возможность заказать свою еду и напитки</p>
                <p>Абонементы для коворкинга</p>
            </td>
        </tr>

        <tr>
            <td>
                <h2>GeekTime для отдыха</h2>
                <p>Около 300 разных настольных игр</p>
                <p>Более 300 игр на консоли: PS4, PS3, XBox one и xbox 360</p>
                <p>Три больших книжных шкафа с комиксами, мангой и артбуками</p>
                <p>Виртуальная реальность</p>
                <p>Пуфики и диваны</p>
                <p>Большие столы для любых целей</p>
                <p>Кинозал с проектором</p>
            </td>
            <td><img src="/css/pics/relax.jpg" align=center width="100%" height="100%"></td>
        </tr>
    </table>

    <h3>  </h3>
    <hr class="hr-dashed">
    <h3>ТАРИФЫ</h3>
    <hr class="hr-dashed">

    <h2>Основной тариф</h2>
    <p>2,5 рубля в минуту</p>

    <h2>Ночной стоп-чек</h2>
    <p>(любая ночь c 0:00 до 8:00 )</p>
    <p>550 рублей</p>

    <h2>Дневной стоп-чек</h2>
    <table>
        <tr style="height:100px">
            <td style="width:24%"><img src="/css/pics/cat.png" align=center width="200px" height="200px"></td>
            <td style="width:24%">
                <p>пн-чт,<br>пт до 18:00</p>
                <hr width="100%" size="2" color="ffb400" align=center>
                <p>550 рублей</p>
            </td>

            <td style="width:4%">
                <br>
                <p style="font-size:75px; color:#ff4f00">&hearts;</p>
            </td>

            <td style="width:24%">
                <p>сб-вс,<br>пт с 18:00</p>
                <hr width="100%" size="2" color="ffb400" align=center>
                <p>650 рублей</p>
            </td>
            <td style="width:24%"><img src="/css/pics/cat.png" align=center width="200px" height="200px" class="mirror"></td>
        </tr>
    </table>

    <h3> </h3>
    <hr class="hr-dashed">
    <h3>Отзывы</h3>
    <hr class="hr-dashed">
    <h3> </h3>

    <center><div style="max-width:100%;width:760px;height:800px;overflow:hidden;position:relative;"><iframe style="width:100%;height:100%;border:5px solid #ffb400;border-radius:20px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/1327797446?comments"></iframe></div></center>

    <h3> </h3>
    <hr class="hr-dashed">
    <h3>Как нас найти</h3>
    <hr class="hr-dashed">

    <p>Москва, Новослободская ул., 36/1</p>
    <p>Вход в арку со стороны ул. Палиха, 3 этаж</p>

    <br>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53057535d9bf386d76bc907142c5b16699fa659d2f9a79292bc8113d57130325&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>

</body>
</html>