@{
    ViewData["Title"] = "Главная страница";
}

<script src="/js/site.js"></script>

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">

    <title>Антикафе GeekTime</title>

    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../../css/site.css">

</head>

<body>

    <header>
        <a href="../Index.cshtml">GeekTime</a>
    </header>

    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="">Главная</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="../events.html">Мероприятия</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="../rooms.html">Интерьер</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="../price.html">Тарифы</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="../games.html">Каталог игр</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="../comics.html">Каталог комиксов</a></li>
            <hr class="hr1-dashed">
            <li><a class="menu__item" href="../admins.html">Наша команда</a></li>
            <hr class="hr1-dashed">
        </ul>
    </div>

    <div class="backimg">
        <hr class="hr-dashed">
        <img src="/css/pics/theme.jpg" align=center width="100%" height="100%">
        <hr class="hr-dashed">
        <div class="main-text"><br>Антикафе GeekTime<br>24/7</div>
    </div>

    <table>
        <tr>
            <td><img src="/css/pics/work.jpg" align=center width="100%" height="100%"></td>
            <td>
                <h2>GeekTime для работы</h2>
                <p>Скоростной Wi-Fi</p>
                <p>Розетки и зарядные устройства</p>
                <p>Проектор и принтер</p>
                <p>Магнитные доски</p>
                <p>Комната для переговоров</p>
                <p>Кофе-брейк</p>
                <p>Возможность заказать свою еду и напитки</p>
                <p>Абонементы для коворкинга</p>
            </td>
        </tr>

        <tr>
            <td>
                <h2>GeekTime для отдыха</h2>
                <p>Около 300 разных настольных игр</p>
                <p>Более 300 игр на консоли: PS4, PS3, XBox one и xbox 360</p>
                <p>Три больших книжных шкафа с комиксами, мангой и артбуками</p>
                <p>Виртуальная реальность</p>
                <p>Пуфики и диваны</p>
                <p>Большие столы для любых целей</p>
                <p>Кинозал с проектором</p>
            </td>
            <td><img src="/css/pics/relax.jpg" align=center width="100%" height="100%"></td>
        </tr>
    </table>

    <h3>  </h3>
    <hr class="hr-dashed">
    <h4>ТАРИФЫ</h4>
    <hr class="hr-dashed">

    <h2>Основной тариф</h2>
    <p>2,5 рубля в минуту</p>

    <h2>Ночной стоп-чек</h2>
    <p>(любая ночь c 0:00 до 8:00 )</p>
    <p>550 рублей</p>

    <h2>Дневной стоп-чек</h2>
    <table>
        <tr style="height:100px">
            <td style="width:100px"><img src="/css/pics/cat1.png" align=center width="200px" height="200px"></td>
            <td>
                <p>(пн-чт, пт до 18:00)</p>
                <p>550 рублей</p>
            </td>
            <td style="width:100px"><img src="/css/pics/yeah.png" align=center width="200px" height="200px"></td>
            <td>
                <p>(сб-вс, пт с 18:00)</p>
                <p>650 рублей</p>
            </td>
            <td style="width:100px"><img src="/css/pics/cat2.png" align=center width="200px" height="200px"></td>
        </tr>
    </table>

    <h3> </h3>
    <hr class="hr-dashed">
    <h4>Как нас найти</h4>
    <hr class="hr-dashed">

    <p>Москва, Новослободская ул., 36/1</p>
    <p>Вход в арку со стороны ул. Палиха, 3 этаж</p>

    <p>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A53057535d9bf386d76bc907142c5b16699fa659d2f9a79292bc8113d57130325&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
    </p>

    <footer>
        <hr width="100%" size="5" color=ff4f00 align=center>
        <img src="/css/pics/footcat1.png" align=left width="200px" height="200px">
        <img src="/css/pics/footcat2.png" align=right width="200px" height="200px">
        <p>GeekTime</p>
        <p>Время работы: пн-вс, круглосуточно</p>
        <p>Москва, Новослободская ул., 36/1</p>
        <p>+7 (499) 286-90-45</p>
    </footer>

</body>
</html>
