<!--Тарифы-->
@{
    ViewData["Title"] = "Тарифы";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Антикафе GeekTime | Тарифы</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/site.css">

    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">

</head>

<body>

    <div class="backimg">
        <img src="/css/pics/fon.jpg" align=center width="100%" height="100%">
        <div class="title">Тарифы</div>
    </div>

    <div class="price_table">
        <div class="tariff_card">
            <div class="price_name">Основной тариф</div>
            <div class="cost"><br>2,5 рубля в минуту</div>
        </div>

        <div class="tariff_card">
            <div class="price_name">Студенты и школьники</div>
            <div class="cost"><br>2 рубля в минуту</div>
        </div>

        <div class="tariff_card">
            <div class="price_name">Комната виртуальной реальности</div>
            <div class="cost"><br>150 рублей - 10 минут</div>
            <div class="cost">300 рублей - 30 минут</div>
        </div>
    </div>

    <hr class="hr-dashed">

    <div class="backimg">
        <img src="/css/pics/fon.jpg" align=center width="100%" height="100%">
        <div class="title">Стоп-чеки</div>
    </div>


    <div class="price_table">
        <div class="type_card">
            <div class="type_name">Дневной стоп-чек</div>
        </div>

        <div class="stopc_card">
            <div class="price_name">Будни</div>
            <div class="stopc_desc"><br><font style="color: #ff4f00">пн-чт, пт до 18:00</font></div>
            <div class="stopc_desc">до 10 часов пребывания</div>
            <div class="cost"><br><br>550 рублей</div>
        </div>

        <div class="stopc_card">
            <div class="price_name">Выходные</div>
            <div class="stopc_desc"><br><font style="color: #ff4f00">пт с 18:00, сб-вс</font></div>
            <div class="stopc_desc">до 10 часов пребывания</div>
            <div class="cost"><br><br>650 рублей</div>
        </div>

        <div class="stopc_card">
            <div class="price_name">Будни</div>
            <div class="stopc_desc"><font style="color: #ff4f00">Студенты и школьники</font></div>
            <div class="stopc_desc"><br><font style="color: #ff4f00">пн-пт</font></div>
            <div class="stopc_desc">до 10 часов пребывания</div>
            <div class="cost"><br>450 рублей</div>
        </div>

        <div class="stopc_card">
            <div class="price_name">Выходные</div>
            <div class="stopc_desc"><font style="color: #ff4f00">Студенты и школьники</font></div>
            <div class="stopc_desc"><br><font style="color: #ff4f00">сб-вс</font></div>
            <div class="stopc_desc">до 10 часов пребывания</div>
            <div class="cost"><br>550 рублей</div>
        </div>

        <div class="type_card">
            <div class="type_name">Ночной стоп-чек</div>
        </div>

        <div class="stopc_card" style="margin: 5px 39% 5px 39%">
            <div class="price_name">Любая ночь</div>
            <div class="stopc_desc"><br>действует с 0:00 до 8:00</div>
            <div class="cost"><br><br>550 рублей</div>
        </div>

        <div class="type_card">
            <div class="type_name">Друзьям Алисы</div>
        </div>

        <div class="type_card" style="background-color: #ffb40010">
            <br>
            <div class="price_name">
                Чтобы стать другом Алисы нужно выполнить несколько простейших действий: <br>
                1. Придите к нам 5 раз <br>
                2. Обменяйте свои посещения на карточку <br>
                3. Добавьте в vk в друзья <a href="https://vk.com/alicegt" title="Алиса Гиктайм в ВКонтакте!">Алису Гиктайм</a><br>
            </div>
        </div>

        <div class="stopc_card" style="margin: 5px 10% 5px 3%">
            <div class="price_name">Дневной стоп-чек</div>
            <div class="stopc_desc"><font style="color: #ff4f00">пн-пт</font></div>
            <div class="stopc_desc"><br>до 10 часов пребывания</div>
            <div class="cost"><br>500 рублей</div>
        </div>

        <div class="stopc_card" style="margin: 5px 3% 5px 3%">
            <div class="price_name">Ночной стоп-чек</div>
            <div class="stopc_desc"><font style="color: #ff4f00">любая ночь</font></div>
            <div class="stopc_desc"><br>действует с 0:00 до 8:00</div>
            <div class="cost"><br>400 рублей</div>
        </div>

        <div class="stopc_card" style="margin: 5px 3% 5px 10%">
            <div class="price_name">День рождения</div>
            <div class="cost"><br><br><br>бесплатно</div>
        </div>
    </div>

    <hr class="hr-dashed">

    <div class="backimg">
        <img src="/css/pics/fon.jpg" align=center width="100%" height="100%">
        <div class="title">Абонементы</div>
    </div>

    <div class="price_table">
        <div class="stopc_card" style="height: 37vh">
            <div class="price_name">Круглосуточный</div>
            <div class="stopc_desc"><br>Действует 1 календарный месяц со дня активации</div>
            <div class="stopc_desc"><br>Включает в себя неограниченное время дневного посещения и 4 ночи в неделю</div>
            <div class="cost"><br>5500 рублей</div>
        </div>

        <div class="stopc_card" style="height: 37vh">
            <div class="price_name">Коворкинг</div>
            <div class="stopc_desc"><br>Действует 1 календарный месяц со дня активации</div>
            <div class="stopc_desc"><br>Включает в себя время дневного посещения с 6:00 до 24:00 в будние дни</div>
            <div class="cost"><br>4500 рублей</div>
        </div>

        <div class="stopc_card">
            <div class="price_name">Абонемент на сутки<br>&nbsp;</div>
            <div class="stopc_desc"><br>Действует 1 сутки</div>
            <div class="cost"><br>950 рублей</div>
        </div>

        <div class="stopc_card">
            <div class="price_name">Комната виртуальной реальности</div>
            <div class="stopc_desc"><br>15 часов</div>
            <div class="cost"><br>5000 рублей</div>
        </div>
    </div>

    <hr class="hr-dashed">
</body>
</html>

