@{
    ViewData["Title"] = "Интерьер";
}
<!--интерьер-->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../../css/site.css">

    <!--скрипты для пролистывания-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--пролистывание наверх-->
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                }
                else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>
    <!--пролистывание до якоря-->
    <script>
        $(document).ready(function () {
            $('area[href^="#"], *[data-href^="#"]').on('click', function (e) {
                e.preventDefault();
                var t = 800;
                var d = $(this).attr('data-href') ? $(this).attr('data-href') : $(this).attr('href');
                $('html,body').stop().animate({ scrollTop: $(d).offset().top - 120 }, t);
            });
        });
    </script>

    <title>Антикафе GeekTime | Интерьер</title>

    <link rel="icon" href="/css/pics/icocat.png" type="image/x-icon">


    <style>

        .backimg {
            position: relative;
        }

        img {
            border-radius: 25px;
            max-width: 100%;
            height: auto;
        }

        .title {
            display: inline-block;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 15%;
            text-align: center;
            font-size: 8vw;
            font-family: 'Underdog', cursive;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
        }

        .liltitle {
            display: inline-block;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 15%;
            text-align: center;
            font-size: 7vw;
            font-family: 'Underdog', cursive;
            color: #ffffff;
            text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
            background-color: #00000060;
        }

        table {
            width: 100%;
            height: 200%;
            border-collapse: collapse;
            color: #000000;
        }

        tr {
            height: 600px;
        }

        td {
            text-align: center;
            vertical-align: middle;
            width: 50%;
        }

        p {
            text-align: center;
            font-size: 30px;
            font-family: 'Underdog', cursive;
            line-height: 100%;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }

        h2 {
            text-align: center;
            font-size: 60px;
            font-family: 'Underdog', cursive;
            line-height: 90%;
            position: relative;
        }

            h2::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ffb40080;
                border-radius: 25px;
                z-index: -1;
            }
    </style>
</head>

<body>
    <div class="backimg">
        <img src="/css/pics/fon.jpg" width="100%" height="100%">
        <div class="title">Интерьер</div>
    </div>

    <center><img src="/css/pics/rooms.png" usemap="#rooms"></center>

    <map name="rooms">
        <area alt="VR" title="VR" href="#vr" coords="30,42,179,241" shape="rect">
        <area alt="Гостиная Татуин" title="Гостиная Татуин" href="#tatuin" coords="178,372,481,43" shape="rect">
        <area alt="Гостиная Adventure Time" title="Гостиная Adventure Time" href="#at" coords="482,370,785,41" shape="rect">
        <area alt="Гостиная Шелдон" title="Гостиная Шелдон" href="#sheldon" coords="786,242,998,41" shape="rect">
        <area alt="Гостиная ТАРДИС" title="Гостиная ТАРДИС" href="#tardis" coords="30,414,178,241" shape="rect">
        <area alt="Гостиная Алиса в Стране Чудес" title="Гостиная Алиса в Стране Чудес" href="#alice" coords="30,616,180,414" shape="rect">
        <area alt="Комиксная" title="Комиксная" href="#comix" coords="785,472,786,242,998,242,1001,366,907,473" shape="poly">
    </map>

    <div class="backimg">
        <img id="vr" src="/css/pics/vr.jpg" align=center width="100%" height="100%">
        <div class="liltitle">VR</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%"><img src="\css\pics\rooms\vr.jpg"></td>

            <td style="width:50%">
                <h2 style="line-height:80%">Очки HTC Vive и более 150 разных игр в VR</h2>
                <div class="room_price">
                    <p>10 минут - 150 рублей</p>
                    <p>30 минут - 300 рублей</p>
                    <p>Абонемент на 10 часов - 5000 рублей</p>
                    <p> </p>
                </div>
            </td>
        </tr>
    </table>

    <div class="backimg">
        <img id="tatuin" src="/css/pics/tatuin.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Гостиная Татуин</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%">
                <h2 style="line-height:80%">Комната рассчитана на компанию в 15-20 человек</h2>
                <div class="room_desc">
                    <p>В комнате есть диван, пуфики, столы, телевизор с приставкой, настольные игры, магнитная доска, проектор</p>
                    <p>При необходимости можно принести еду и дополнительные элементы мебели</p>
                    <p>Включает в себя посещение 12 человек</p>
                    <p>Дополнительные гости оплачивают пребывание по тарифу антикафе</p>
                </div>
                <div class="room_price">
                    <p>1600 рублей в час в будни</p>
                    <p>1900 рублей в час в выходные</p>
                </div>
            </td>

            <td style="width:50%"><img src="\css\pics\rooms\tatuin.jpg"></td>
        </tr>
    </table>

    <div class="backimg">
        <img id="at" src="/css/pics/at.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Гостиная Adventure Time</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%"><img src="\css\pics\rooms\at.jpg"></td>

            <td style="width:50%">
                <h2 style="line-height:80%">Комната рассчитана на компанию в 10-15 человек</h2>
                <div class="room_desc">
                    <p>В комнате есть пуфики, столы, стулья, телевизор с приставкой, настольные игры и удобное зонирование пространства</p>
                    <p>При необходимости можно принести еду и дополнительные элементы мебели</p>
                    <p>Включает в себя посещение 10 человек</p>
                    <p>Дополнительные гости оплачивают пребывание по тарифу антикафе</p>
                </div>
                <div class="room_price">
                    <p>1300 рублей в час в будни</p>
                    <p>1600 рублей в час в выходные</p>
                </div>
            </td>
        </tr>
    </table>

    <div class="backimg">
        <img id="sheldon" src="/css/pics/sheldon.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Гостиная Шелдон</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%">
                <h2 style="line-height:80%">Комната рассчитана на компанию в 5-8 человек</h2>
                <div class="room_desc">
                    <p>В комнате есть диван, пуфики, телевизор с приставкой, стол и магнитная доска</p>
                    <p>При необходимости можно принести настольные игры, еду и дополнительные элементы мебели</p>
                    <p>Включает в себя посещение 6 человек</p>
                    <p>Дополнительные гости оплачивают пребывание по тарифу антикафе</p>
                </div>
                <div class="room_price">
                    <p>1000 рублей в час в будни</p>
                    <p>1300 рублей в час в выходные</p>
                </div>
            </td>

            <td style="width:50%"><img src="\css\pics\rooms\sheldon.jpg"></td>
        </tr>
    </table>


    <div class="backimg">
        <img id="tardis" src="/css/pics/tardis.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Гостиная ТАРДИС</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%"><img src="\css\pics\rooms\tardis.jpg"></td>

            <td style="width:50%">
                <h2 style="line-height:80%">Пространство рассчитано на 2 человек</h2>
                <div class="room_desc">
                    <p>Уютный диванчик, где можно пообщаться в спокойной обстановке, отгородившись занавесками, или поиграть в приставку</p>
                    <p>Подходит как для работы, так и для настольных игр</p>
                    <p>Пребывание гостей в антикафе оплачивается отдельно</p>
                </div>
                <div class="room_price">
                    <p>300 рублей к общему чеку</p>
                </div>
            </td>
        </tr>
    </table>

    <div class="backimg">
        <img id="comix" src="/css/pics/comix.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Комиксная</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%">
                <h2 style="line-height:80%">Комната рассчитана на компанию в 4-6 человек</h2>
                <div class="room_desc">
                    <p>В комнате есть диван, пуфики, стол, библиотека комиксов, музыкальный и ретро уголок с Sega, dendi, atari и sony</p>
                    <p>При необходимости можно принести настольные игры, еду и дополнительные элементы мебели</p>
                    <p>Пребывание гостей в антикафе оплачивается отдельно</p>
                </div>
                <div class="room_price">
                    <p>200 рублей к общему чеку</p>
                </div>
            </td>

            <td style="width:50%"><img src="\css\pics\rooms\komiksnaya.jpg"></td>
        </tr>
    </table>

    <div class="backimg">
        <img id="alice" src="/css/pics/alice.jpg" align=center width="100%" height="100%">
        <div class="liltitle">Гостиная Алиса в Стране Чудес</div>
    </div>

    <table>
        <tr style="height:80vh">
            <td style="width:50%"><img src="\css\pics\rooms\alisa.jpg"></td>

            <td style="width:50%">
                <h2 style="line-height:80%">Комната рассчитана на компанию в 2-6 человек</h2>
                <div class="room_desc">
                    <p>В комнате есть стол, стулья и магнитная доска </p>
                    <p>Подходит как для работы, так и для настольных игр</p>
                    <p>При необходимости можно принести настольные игры, еду и дополнительные элементы мебели</p>
                    <p>Включает в себя посещение 4 человек</p>
                    <p>Дополнительные гости оплачивают пребывание по тарифу антикафе</p>
                </div>
                <div class="room_price">
                    <p>600 рублей в час в будни</p>
                    <p>800 рублей в час в выходные</p>
                </div>
            </td>
        </tr>
    </table>

    <hr class="hr-dashed">

    <div id="toTop">
        <i class="fa fa-chevron-up"></i>
    </div>
</body>
</html>

