@model GeekTime.Models.Rate
@{
    ViewBag.Title = "Добавление цены";
}

<form asp-action="createrate" asp-controller="rate">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cost" class="control-label">Ивенты</label>
        <input type="text" asp-for="Cost" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>