@model IList<GeekTime.Models.Rate>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RatePage</title>
</head>
<body>
    <h1>Цены гиктайма:</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Зв что</th>
            <th>Цена</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Cost</td>
                </tr>
            }
        }
    </table>
    <a style="color:#ff0000" asp-area="" asp-controller="Rate" asp-action="CreateRate">Добавить цену</a><br>
    <a style="color:#ff0000" asp-area="" asp-controller="Rate" asp-action="DeleteRate">Удалить цену</a>
</body>
</html>

