@font-face {
    font-family: "Sensei Medium";
    src: url("/css/fonts/sensei-medium.eot"); /* IE9 Compat Modes */
    src: url("/css/fonts/sensei-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/css/fonts/sensei-medium.otf") format("opentype"), /* Open Type Font */
    url("/css/fonts/sensei-medium.svg") format("svg"), /* Legacy iOS */
    url("/css/fonts/sensei-medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/css/fonts/sensei-medium.woff") format("woff"), /* Modern Browsers */
    url("/css/fonts/sensei-medium.woff2") format("woff2"); /* Modern Browsers */
}

body {
    background: #fffdd0;
    padding: 150px;
}

#menu__toggle {
    opacity: 0;
}

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

        #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
        }

        #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 10%;
    cursor: pointer;
    z-index: 2;
}

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        transition-duration: .25s;
    }

        .menu__btn > span::before {
            content: '';
            top: -8px;
        }

        .menu__btn > span::after {
            content: '';
            top: 8px;
        }

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    overflow: auto;
    top: 0;
    left: -100%;
    z-index: 1;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 150px 0;
    list-style: none;
    background-color: #ffb400;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fffdd0;
    text-align: center;
    font-family: 'Underdog', cursive;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

    .menu__item:hover {
        background-color: #ff4f00;
    }

header {
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 110px;
    font-family: 'Underdog', cursive;
    color: #ffffff;
    text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 150px;
    background-color: #ffb400;
}

footer {
    padding: 20px 0px;
    color: #ffffff;
    text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
    background-color: #ff4f00;
    width: 100%;
    height: 415px;
}

table {
    width: 100%;
    height: 200%;
    border-collapse: collapse;
    color: #000000;
}

tr {
    height: 600px;
}

td {
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'Underdog', cursive;
    line-height: 90%;
    position: relative;
}

    h2::before {
        content: '';
        position: absolute;
        bottom: 37%;
        left: 0;
        width: 100%;
        height: 26%;
        background-color: #ffb400;
        z-index: -1;
    }

h3 {
    position: relative;
    text-align: center;
    font-size: 120px;
    font-family: 'Underdog', cursive;
    line-height: 90%;
}

    h3::before {
        content: '';
        position: absolute;
        bottom: 35%;
        left: 0;
        width: 100%;
        height: 30%;
        background-color: #ffb400;
        z-index: -1;
    }

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Underdog', cursive;
    line-height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.backimg {
    position: relative;
}

.main-text {
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 15%;
    text-align: center;
    font-size: 8vw;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    text-shadow: #000 1px 1px 5px, #000 1px 1px 5px, #000 1px -1px 5px, #000 -1px 1px 5px;
}

.hr-dashed {
    padding: 0;
    height: 0;
    border: none;
    border-top: 5px dashed #ffb400;
}

.hr1-dashed {
    padding: 0;
    height: 0;
    border: none;
    border-top: 5px dashed #ff4f00;
}

.mirror {
    transform: scale(-1, 1);
}

img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 15px;
}

    .social-icons a {
        background: #ffb400;
        color: #ffffff;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        position: relative;
        margin: 5px;
        text-align: center;
        font-size: 35px;
        text-decoration: none;
        transition: 0.5s;
    }

        .social-icons a i {
            z-index: 2;
            position: relative;
            line-height: 60px;
        }

        .social-icons a:after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 100%;
            width: 0;
            height: 0;
            transition: 0.3s;
            top: 0;
            left: 50%;
        }

        .social-icons a:hover:after {
            width: 60px;
            height: 60px;
            margin-left: -30px;
        }

.social-icon-vk:after,
.social-icon-vk:hover:after {
    background: #45668e;
}

.social-icon-tg:after,
.social-icon-tg:hover:after {
    background: #2ca5e0;
}

.social-icon-fb:after,
.social-icon-fb:hover:after {
    background: #3b5998;
}

.social-icon-ig:after,
.social-icon-ig:hover:after {
    background: #e1306c;
}

.social-icon-yt:after,
.social-icon-yt:hover:after {
    background: #bb0000;
}

