

@media (min-width: 2000px) {
    .game_comics_admin_card {
        width: 20%;
    }
}

@media (max-width: 1999px) {
    .game_comics_admin_card {
        width: 25%;
    }
}

@media (max-width: 1200px) {
    .game_comics_admin_card {
        width: 33.3333333%;
    }
}

@media (max-width: 900px) {
    .game_comics_admin_card {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .game_comics_admin_card {
        width: 100%;
    }
