@model GeekTime.Models.ConsoleGame
@{
    ViewBag.Title = "Удаление консольной игры";
}
<form asp-action="deleteConsoleGame" asp-controller="ConsoleGame">
    <div class="form-group">
        <label asp-for="ID" class="control-label">ID</label>
        <input type="number" asp-for="ID" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
